html {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  background: #CCCCCC;
}

body {
  max-width: 990px;
  margin: 0 auto;
}

#toolbar {
  margin: 0 0 0.5em 0;
}

.filter {
  padding: 0 1em;
  display: inline;
}

.filter select{
    border: none;
    font-size: 14px;
}

.editing {
    background: rgb(255, 223, 166) !important;
}

/* semantic ui modification */
body .ui.vertical.menu {
  margin: 0 0 1rem 0;
}

body .ui.modal {
    width: 50%;
  wi
;
    margin-left: -25%;
}

/* concrete styles */
#menu {
  margin: 1rem 0 2rem;
}

#delete_window .ui.positive.button {
  background-color: #D95C5C !important;
}

#delete_window .ui.positive.button:hover {
  background-color: #E75859 !important;
}