@(classes: List[Klasa])
@main("klasy", "klasy") {
    <div class="ui modal" id="delete_window">
        <i class="close icon"></i>
        <div class="header">
            Potwierdzenie
        </div>
        <div class="content">
            Jesteś pewien, że chcesz usunąć?
        </div>
        <div class="actions">
            <div class="ui green button">No</div>
            <div class="ui positive button delete">Delete</div>
        </div>
    </div>
    <div class="ui segment">
        <h1 class="ui header">Klasy</h1>
        <div id="toolbar">
            <div class="ui green tiny button enum_add">Dodaj klasę</div>
            <div class="filter">
                <b>Rok utworzenia: </b>
                <div class="ui dropdown">
                    <div class="text">bez znaczenia</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">2013</div>
                        <div class="item">2012</div>
                        <div class="item">2011</div>
                    </div>
                </div>
            </div>
        </div>
        <table class="ui column table segment">
            <thead>
                <tr>
                    <th class="six wide">Nazwa</th>
                    <th class="eight wide">Rok utworzenia</th>
                    <th class="one wide"></th>
                    <th class="one wide"></th>
                    <th class="one wide"></th>
                </tr>
            </thead>
            <tbody>
            @for(klasa <- classes) {
                <tr>
                    <td>@klasa.name</td>
                    <td>@klasa.yearOfCreation</td>
                    <td><a href="">więcej</a></td>
                    <td>
                        <div class="ui blue mini button user_delete" data-id="">edytuj</div>
                    </td>
                    <td>
                        <div class="ui red mini button user_delete" data-id="">usuń</div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}