@main("uprawnienia", "users") {
    <div class="ui segment">
        <h1 class="ui header">Uprawnienia</h1>
        <h2 class="ui header">Posiadane uprawnienia jako nauczyciel</h2>
        <table class="perms ui column table segment">
            <thead>
                <tr>
                    <th class="seven wide">Tabela</th>
                    <th class="two wide">Odczyt</th>
                    <th class="two wide">Dodanie</th>
                    <th class="two wide">Edycja</th>
                    <th class="two wide">Usuwanie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Uczniowie</td>
                    <td><input type="checkbox" checked disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                </tr>
                <tr>
                    <td>Klasy</td>
                    <td><input type="checkbox" checked disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                </tr>
                <tr>
                    <td>Kursy</td>
                    <td><input type="checkbox" checked disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                </tr>
                <tr>
                    <td>Oceny</td>
                    <td><input type="checkbox" checked disabled></td>
                    <td><input type="checkbox" checked disabled></td>
                    <td><input type="checkbox" checked disabled></td>
                    <td><input type="checkbox" checked disabled></td>
                </tr>
                <tr>
                    <td>Konkursy</td>
                    <td><input type="checkbox" checked disabled></td>
                    <td><input type="checkbox" checked disabled></td>
                    <td><input type="checkbox" checked disabled></td>
                    <td><input type="checkbox" checked disabled></td>
                </tr>
                <tr>
                    <td>Nauczyciele</td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                </tr>
                <tr>
                    <td>Przedmioty</td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                </tr>
                <tr>
                    <td>Rangi konkursów</td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                </tr>
            </tbody>
        </table>
        <h2 class="ui header">Nadawanie uprawnień</h2>
        <h4 class="ui header">Sekretariat</h4>
        <table class="perms ui column table segment">
            <thead>
                <tr>
                    <th class="seven wide">Tabela</th>
                    <th class="two wide">Odczyt</th>
                    <th class="two wide">Dodanie</th>
                    <th class="two wide">Edycja</th>
                    <th class="two wide">Usuwanie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Oceny</td>
                    <td><input type="checkbox" checked disabled></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox" checked></td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Konkursy</td>
                    <td><input type="checkbox" checked disabled></td>
                    <td><input type="checkbox" checked></td>
                    <td><input type="checkbox" checked></td>
                    <td><input type="checkbox" checked></td>
                </tr>
            </tbody>
        </table>
        <h4 class="ui header">Rodzice</h4>
        <table class="perms ui column table segment">
            <thead>
                <tr>
                    <th class="seven wide">Tabela</th>
                    <th class="two wide">Odczyt</th>
                    <th class="two wide">Dodanie</th>
                    <th class="two wide">Edycja</th>
                    <th class="two wide">Usuwanie</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Uczniowie</td>
                    <td><input type="checkbox" ></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                </tr>
                <tr>
                    <td>Klasy</td>
                    <td><input type="checkbox" ></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                </tr>
                <tr>
                    <td>Kursy</td>
                    <td><input type="checkbox" checked ></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                    <td><input type="checkbox" disabled></td>
                </tr>
                <tr>
                    <td>Oceny</td>
                    <td><input type="checkbox" checked></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                </tr>
                <tr>
                    <td>Konkursy</td>
                    <td><input type="checkbox" checked></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                    <td><input type="checkbox"></td>
                </tr>
            </tbody>
        </table>
    </div>
}