<div>
    <nav class="ui menu" id="menu">
        {{#link-to 'students' class='item'}}Uczniowie{{/link-to}}
        {{#link-to 'classes' class='item'}}Klasy{{/link-to}}
        {{#link-to 'courses' class='item'}}Kursy{{/link-to}}
        {{#link-to 'grades' class='item'}}Oceny{{/link-to}}
        {{#link-to 'competitions' class='item'}}Konkursy{{/link-to}}
        {{#link-to 'teachers' class='item'}}Nauczyciele{{/link-to}}
        {{#link-to 'subjects' class='item'}}Przedmioty{{/link-to}}
        {{#link-to 'competition-rangs' class='item'}}Rangi konkursów{{/link-to}}
        {{#link-to 'rights' class='item'}}Uprawnienia{{/link-to}}
    </nav>
    {{outlet}}
</div>